<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
  <ion-label class="page-tittle">
    Contato
  </ion-label>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <div class="section">
    <div class="section-inner">
      <p>Ligar para</p>
      <span>192</span>
      <p>Samu</p>
    </div>

    <div class="section-inner">
      <a href="tel:192">
        <ion-icon name="call"></ion-icon>
      </a>
    </div>
  </div>

  <div class="section">
    <div class="section-inner">
      <p>Ligar para</p>
      <span class="responsavel">Responsável</span>
      <p>Fulano detal</p>
    </div>

    <div class="section-inner">
      <a href="tel:192">
        <ion-icon name="call"></ion-icon>
      </a>
    </div>
  </div>

  <div class="section">
    <div class="inner">
      <h4><strong>Contato Med+</strong></h4>
      <p><strong>Telefone:</strong> (14) 9 9999-9999</p>
      <p><strong>Email:</strong> contato@medmais.com.br</p>
    </div>
  </div>

</ion-content>