<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <ion-progress-bar type="indeterminate" *ngIf="!loadingData"></ion-progress-bar>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
  <ion-label class="page-tittle">
    Exames
  </ion-label>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullFactor]=".25" [pullMin]="100" [pullMax]="100">
    <ion-refresher-content pullingIcon="" refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <section class="table-meds">

    <mat-table [dataSource]="medicos">
      <ng-container matColumnDef="nomeMedico">
        <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let medicos">
          <div class="espec-inner">
            <p class="date-info">29/06/2020 as 20:30</p>
            <p class="description">O resultado do seu exame está disponível para download!</p>
            <span> <strong>Médico:</strong> {{ medicos.nomeMedico }}</span>
            <span> <strong>Exame:</strong> {{ medicos.especialidades.especialidade }}</span>
          </div>
          <ion-button>Baixar agora
            <ion-icon slot="end" name="download-outline" size="small" color="white"></ion-icon>
          </ion-button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </section>

</ion-content>