<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</ion-header>

  <ion-content [fullscreen]="true" class="header-bg">

  <figure class="header-logo-position">
    <img src=".\assets\medmais-branco.png" width="160">
  </figure>

  <figure class="header-img">
    <img src=".\assets\home-feed-bg.png">
  </figure>

  <section class="card-row">
    <ion-card class="card-bg" routerLink="#">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Agendar exame médico</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="card-bg" routerLink="#">
      <span class="material-symbols-outlined">
        medication
        </span>
      <ion-card-header>
        <ion-card-title>Agendar Remédios</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="card-bg" routerLink="#">
      <ion-icon name="star-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Eventos Preferidos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="card-bg" routerLink="contato">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Entre em contato</ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>
  

  <ion-card class="feed-service" routerLink="caminhada-matinal">
    <img src=".\assets\feed-service-post1.jpg" />
    <ion-card-header>
      <ion-card-title>CAMINHADA MATINAL</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </ion-card-content>

    <ion-card-content class="feed-icon">
      <ion-button fill="clear">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="feed-service" routerLink="caminhada-matinal">
    <img src=".\assets\feed-service-post2.jpg" />
    <ion-card-header>
      <ion-card-title>CAMINHADA MATINAL</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </ion-card-content>

    <ion-card-content class="feed-icon">
      <ion-button fill="clear">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>