<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-back-button icon="chevron-back-outline"></ion-back-button>

    <figure class="header-logo-position">
      <img src=".\assets\medmais-branco.png" width="160">
    </figure>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
    </ion-card-content>
    <app-login-form-idoso></app-login-form-idoso>
  </ion-card>

</ion-content>