
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exames">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Exames</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home-feed" class="tab-center">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contato">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>