<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <div class="section">
    <img src="/assets/feed-service-post1.jpg">

    <div class="section-content">
      <h2>Caminhada Matinal</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Purus lorem convallis gravida at volutpat enim sed dictum arcu. Eu urna at hendrerit quis lectus elementum facilisis dictum ipsum. Ornare est orci dui commodo id nec enim mauris. Interdum nulla arcu neque nisl. Erat a pretium ultricies etiam mi. Platea orci semper aliquam dui sed nullam. Volutpat morbi nunc donec ut aliquet tincidunt. Viverra ipsum convallis lorem elementum. Tristique tellus in nunc justo turpis pulvinar mi. Fames adipiscing nunc ut tincidunt placerat pellentesque fermentum et elit.
      </p>
      <ion-button>
        Salvar na agenda
      </ion-button>
    </div>

  </div>

</ion-content>