<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <div class="section">
    <img src="/assets/feed-service-post1.jpg">

    <div class="section-content">
      <h2>Caminhada Matinal no Bosque</h2>
      <p>
        Desfrute de uma manhã revigorante em meio à natureza com a nossa "Caminhada Matinal no Bosque". Este evento foi projetado especialmente para os entusiastas da terceira idade que desejam manter um estilo de vida ativo e saudável.
Descrição: Caminhar na beleza do Bosque Rodrigues Alves é uma maneira perfeita de começar o dia. A atividade é leve e acessível a todos os níveis de condicionamento físico, permitindo que você respire o ar fresco, absorva a serenidade da natureza e compartilhe momentos agradáveis com amigos da mesma faixa etária.
<br>
<strong>Data:</strong> Terça-feira, 20 de dezembro de 2023
<br>
<strong>Horário:</strong> Das 8h às 9h30
<br>
<strong>Local:</strong> Bosque Rodrigues Alves, Bauru
      </p>
      <ion-button>
        Salvar na agenda
      </ion-button>
    </div>

  </div>

</ion-content>