<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
  <ion-label class="page-tittle">
    Eventos
  </ion-label>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullFactor]=".25" [pullMin]="100" [pullMax]="100">
    <ion-refresher-content pullingIcon="" refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <section>

    <div class="espec-container">
      <div class="espec-inner">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="espec-inner">
        <p class="date-info">Aula de Dança para a Terceira Idade</p>
        <p class="description">Desfrute de uma aula divertida de dança adaptada para a terceira idade, com ritmos variados, amigáveis para todos os níveis de habilidade.</p>
      </div>
      <div class="locations-info">
        <p><strong>LOCAL:</strong> Bosque Rodrigues Alves, Bauru</p>
        <p><strong>DATA:</strong> Dia 23 de junho as 20h</p>
      </div>
    </div>

    <div class="espec-container">
      <div class="espec-inner">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="espec-inner">
        <p class="date-info">Oficina de Arte e Pintura</p>
        <p class="description">Participe de uma tarde criativa de pintura e arte, onde você poderá expressar sua criatividade através de tintas e pincéis.</p>
      </div>
      <div class="locations-info">
        <p><strong>LOCAL:</strong> Centro Cultural de Bauru</p>
        <p><strong>DATA:</strong> Dia 23 de junho as 20h</p>
      </div>
    </div>

    <div class="espec-container">
      <div class="espec-inner">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="espec-inner">
        <p class="date-info">Palestra sobre Saúde e Bem-Estar</p>
        <p class="description">Aprenda dicas valiosas para manter uma vida saudável e ativa na terceira idade, com um renomado especialista em saúde.</p>
      </div>
      <div class="locations-info">
        <p><strong>LOCAL:</strong> Biblioteca Municipal de Bauru</p>
        <p><strong>DATA:</strong> Dia 23 de junho as 20h</p>
      </div>
    </div>

    <div class="espec-container">
      <div class="espec-inner">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="espec-inner">
        <p class="date-info">Piquenique no Parque</p>
        <p class="description">Junte-se a outros membros da comunidade da terceira idade para um dia alegre de piquenique, jogos ao ar livre e interação social no belo Parque da Cidade.</p>
      </div>
      <div class="locations-info">
        <p><strong>LOCAL:</strong> Parque Vitória Régia, Bauru</p>
        <p><strong>DATA:</strong> Dia 23 de junho as 20h</p>
      </div>
    </div>
    
  </section>

</ion-content>