ion-back-button{
    width: 6em;
    height: 8em;
    position: absolute;
    top:0;
    left: 0;
    color: #999;
}

.page-tittle{
    color:#7ED4E1 ;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: block;
    height:40px;
}

ion-content{
    --ion-background-color:#f1f1f1;
}

ion-toolbar {
    --background: #f4f4f4;
}

ion-header {
    box-shadow: none;
}

.header-bg {
    width: 100%;

    ion-icon {
        font-size: 52px;
        color: #c3c3c3;
    }
}

.header-logo-position {
    position: relative;
    top: 0em;
    text-align: center;
}

.espec-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    margin-block: 10px;
    width: 100%;
    background: #ededed;
    .espec-inner{
        display: inline-flex;
        flex-direction: column;
        width: 20%;
        color: #202020;
    }
    .espec-inner:nth-child(2){
        width: 80%;
    }
    h4{
        color:#1C4478;
        font-weight: 900;
        font-size: 18px;
        margin-top: 10%;
    }
    ion-button{
        --background:#1C4478;
        width:30vw;
    }
    
.locations-info{
    color: #202020;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 10px;
    }
    .locations-info p {
        line-height: 10px;
        }
    ion-icon{
    color: #777777;
    }
    .date-info{
        color: #a2a2a2;
        margin-bottom: 2px;
    }
    .description{
        font-size: 16px;
    }
}
    
