<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
  <ion-label class="page-tittle">
    Seus alarmes
  </ion-label>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <section>

    <div class="espec-container" *ngFor="let alarme of getOrderedDivs()">
      <div class="espec-inner">
        <h4>{{ alarme.time | date: 'HH:mm'}}</h4>
        <span> <strong>Todos os dias</strong></span>
        <span> <strong>Remédio:</strong> {{ alarme.remedio }}</span>
      </div>
      <div class="espec-inner">
        <ion-toggle [(ngModel)]="alarme.alarmeAtivado"></ion-toggle>
      </div>
    </div>

  </section>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" id="novo-alarme">
    <ion-fab-button >
      <ion-icon name="add-outline" color="white" ></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal trigger="novo-alarme" #modal class="calendar-modal">
    <ng-template>

      <div class="close-modal">
        <ion-button (click)="modal.dismiss()">
          <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </div>

      <ion-content class="ion-padding">

        <div class="espec-container">
          <div class="espec-inner">
            <h4>{{ formattedStart }}</h4>
            <span> <strong>Todos os dias</strong></span>
            <span (ionChange)="remedioChanged(remedio.value)"> <strong>Remédio:</strong> {{ newAlarm.remedio }}</span>
          </div>
          <div class="espec-inner">
            <ion-toggle [(ngModel)]="newAlarm.alarmeAtivado"></ion-toggle>
          </div>
        </div>

      <ion-row>
        <ion-col>
          <ion-datetime
          #start
          [value]="newAlarm.time"
          presentation="time"
          (ionChange)="startChanged(start.value)"
          ></ion-datetime>
          </ion-col>
          <ion-col>
            <ion-label>NOME DO REMEDIO</ion-label>
            <ion-input #remedio type="text" (ionChange)="remedioChanged($event)"></ion-input>

            <ion-label>QUANTIDADE</ion-label>
            <ion-input></ion-input>

            <ion-label>REPETIR</ion-label>
            <ion-input></ion-input>
            </ion-col>
        </ion-row>

      </ion-content>

      <ion-toolbar class="agendar">
        <ion-buttons class="agendar-btn">
          <ion-button strong (click)="addAlarm()">
            <ion-icon name="calendar-outline"></ion-icon> Concluir </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ng-template>
  </ion-modal>


</ion-content>