<ion-header [translucent]="true">
</ion-header>

<ion-toolbar class="toolbar-fixed">

  <ion-back-button icon="chevron-back-outline" defaultHref="/agendar-exames"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160" alt="Med= logo">
  </figure>
  <ion-label class="page-tittle">
    Marcar exames
  </ion-label>
  <p>Selecione no calendário abaixo a data desejada para agendar um exame e verifique a disponibilidade.</p>

</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullFactor]=".25" [pullMin]="100" [pullMax]="100">
    <ion-refresher-content pullingIcon="" refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <section class="calendar-base">

    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" (click)="calendarBack()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="8">
        <h2 class="ion-text-center">
          {{ viewTitle }}
          <ion-button (click)="setToday()" class="today">Hoje</ion-button>
        </h2>
      </ion-col>

      <ion-col size="2">
        <ion-button fill="clear" (click)="calendarForward()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <calendar 
    [calendarMode]="calendar.mode" 
    [startHour]="6" [endHour]="20"
    [eventSource]="eventSource"
    [autoSelect]="false"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="viewTitle=$event" 
    (onTimeSelected)="onTimeSelected($event)"
    [monthviewDisplayEventTemplate]="template"
    [markDisabled]="markDisabled"
    ></calendar>

    <ion-row class="ion-align-items-center justify-center list-show">
      <ion-col  id="remove">
        Desmarcar consultas
      </ion-col>
    </ion-row> 
  
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="inputModal">
      <ion-icon name="add" color="white">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-modal trigger="inputModal" #modal class="calendar-modal">
    <ng-template>

      <div class="close-modal">
        <ion-button (click)="modal.dismiss()">
          <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </div>

      <ion-content class="ion-padding">

        <ion-title class="ion-text-center ion-text-uppercase"> <strong>Nova Consulta</strong> </ion-title>
        <p class="ion-text-center">Seu exame está disponível para a seguinte data e horário:</p>


        <h1 class="time-display"><strong> {{ formattedStart }}  </strong> </h1>

        <ion-row class="row-time">
          <ion-col (click)="showStart = !showStart">
            <ion-label>{{ formattedStart }}</ion-label>
            <ion-text slot="end">{{ formattedStart }}</ion-text>
          </ion-col>

          <ion-col size="1">
          <div class="line"></div>
          </ion-col>

          <ion-col (click)="showEnd = !showEnd">
            <ion-label>{{ formattedEnd }}</ion-label>
            <ion-text slot="end">{{ formattedEnd }}</ion-text>
          </ion-col>

        </ion-row>

      <ion-row>
        <ion-col>
          <ion-label *ngIf="showStart">Das:</ion-label>
          <ion-datetime
          #start
          *ngIf="showStart"
          [value]="newEvent.startTime"
          presentation="time"
          (ionChange)="startChanged(start.value)"
          ></ion-datetime>
          </ion-col>

          <ion-col>
            <ion-label *ngIf="showEnd">Até:</ion-label>
            <ion-datetime
            #end
            *ngIf="showEnd"
            [value]="newEvent.endTime"
            presentation="time"
            (ionChange)="endChanged(end.value)"
            ></ion-datetime>
          </ion-col>
        </ion-row>

        <p class="ion-text-center">Ao clicar em marcar, esse exame será agendado e automaticamente adicionado no seu calendário. O cancelamento só é possível se feito pelo menos 1 dia antes da data agendada. </p>

        <section class="table-consult">
          <ion-row>
            <ion-col size="3">Locação</ion-col>
            <ion-col size="5" class="aditional-info">Reserva 1 hora <br>Nome do espaço</ion-col>
            <ion-col size="4"> <strong>R$100,00</strong></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="4">Total</ion-col>
            <ion-col size="5" class="total"><strong>R$100,00</strong></ion-col>
          </ion-row>
        </section>

      <!-- <ion-button (click)="removeEvents()">Desmarcar Consulta</ion-button> -->

      </ion-content>

      <ion-toolbar class="agendar">
        <ion-buttons class="agendar-btn">
          <ion-button (click)="addEvent()" strong>
            <ion-icon name="calendar-outline"></ion-icon> Marcar </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ng-template>
  </ion-modal>

  <ion-modal trigger="remove" #modal1 class="calendar-modal calendar-remove">
    <ng-template>

      <div class="close-modal">
        <ion-button (click)="modal1.dismiss()">
          <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </div>

      <ion-content class="ion-padding">

        <ion-title class="ion-text-center ion-text-uppercase"> <strong>Desmarcar Consulta</strong> </ion-title>
        <p class="ion-text-center">Confira a data e horário do exame agendado para efetuar o cancelamento:</p>


        <h1 class="time-display"><strong> {{ formattedStart }}  </strong> </h1>

        <ion-row class="row-time">
          <ion-col (click)="showStart = !showStart">
            <ion-label>{{ formattedStart }}</ion-label>
            <ion-text slot="end">{{ formattedStart }}</ion-text>
          </ion-col>

          <ion-col size="1">
          <div class="line"></div>
          </ion-col>

          <ion-col (click)="showEnd = !showEnd">
            <ion-label>{{ formattedEnd }}</ion-label>
            <ion-text slot="end">{{ formattedEnd }}</ion-text>
          </ion-col>

        </ion-row>

        <section class="calendar-base calendar-remove">
          <calendar
          [calendarMode]="calendar.mode" 
          [eventSource]="eventSource"
          (onEventSelected)="removeEvent($event)"
          (onTitleChanged)="viewTitle=$event" 
          (onTimeSelected)="onTimeSelected($event)"
          [monthviewDisplayEventTemplate]="template"
          [markDisabled]="markDisabled"
          >
          </calendar>
          <!--
          <ion-item *ngFor="let event of eventSource">
            <ion-label>{{ event.title }} do dia: {{ event.startTime.toLocaleDateString()}} <br>
              as {{ event.startTime.getHours()}} horas</ion-label>
            <ion-button color="danger" (click)="removeEvent(event)" >Desmarcar</ion-button>
          </ion-item>
          -->
        </section>

        <p class="ion-text-center">Ao cancelar, o exame será retirado do seu calendário podendo ser reagendado novamente dentro de 30 minutos.</p>

        <section class="table-consult">
          <ion-row>
            <ion-col size="3">Locação</ion-col>
            <ion-col size="5" class="aditional-info">Reserva 1 hora <br>Nome do espaço</ion-col>
            <ion-col size="4"> <strong>R$100,00</strong></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="4">Total</ion-col>
            <ion-col size="5" class="total"><strong>R$100,00</strong></ion-col>
          </ion-row>
        </section>

      <!-- <ion-button (click)="removeEvents()">Desmarcar Consulta</ion-button> -->

      </ion-content>

      <ion-toolbar class="cancelar">
        <ion-buttons class="agendar-btn">
          <ion-button (click)="modal1.dismiss()" strong>
            <ion-icon name="calendar-outline"></ion-icon>Cancelar</ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ng-template>
  </ion-modal>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{ view.dates[row*7+col].label }}
    <div class="indicator-container">
      <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
    </div>
  </ng-template>
  

</ion-content>


<!--

    <ion-list>  
        <ion-row class="ion-align-items-center justify-center list-show">
        <ion-col (click)="openList()" size="10">
          Desmarcar consultas
        </ion-col>
        <ion-col size="2" *ngIf="!openDesmarcar">
          <ion-icon name="chevron-up-outline" color="white" (click)="openDesmarcar=true"></ion-icon>
        </ion-col>
      </ion-row> 
        <div *ngIf="!openDesmarcar">
        <ion-item *ngFor="let event of eventSource">
          <ion-label>{{ event.title }} do dia: {{ event.startTime.toLocaleDateString()}} <br>
            as {{ event.startTime.getHours()}} horas</ion-label>
          <ion-button color="danger" (click)="removeEvent(event)" >Desmarcar</ion-button>
        </ion-item>
      </div>
      </ion-list>

-->