<ion-header [translucent]="true">
</ion-header>

<ion-toolbar class="toolbar-fixed">

  <ion-back-button icon="chevron-back-outline" defaultHref="/agendar-exames"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160" alt="Med= logo">
  </figure>
  <ion-label class="page-tittle">
    Marcar exames
  </ion-label>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a condimentum nisl. Donec ac facilisis.</p>

</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullFactor]=".25" [pullMin]="100" [pullMax]="100">
    <ion-refresher-content pullingIcon="" refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <section class="calendar-base">

    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" (click)="calendarBack()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="8">
        <h2 class="ion-text-center">
          {{ viewTitle }}
          <ion-button (click)="setToday()" class="today">Hoje</ion-button>
        </h2>
      </ion-col>

      <ion-col size="2">
        <ion-button fill="clear" (click)="calendarForward()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <calendar 
    [calendarMode]="calendar.mode" 
    [startHour]="6" [endHour]="20"
    [eventSource]="eventSource"
    [autoSelect]="false"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="viewTitle=$event" 
    (onTimeSelected)="onTimeSelected($event)"
    [monthviewDisplayEventTemplate]="template"
    [markDisabled]="markDisabled"
    ></calendar>

  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="inputModal">
      <ion-icon name="add" color="white">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-modal trigger="inputModal" #modal class="calendar-modal">
    <ng-template>

      <div class="close-modal">
        <ion-button (click)="modal.dismiss()">
          <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </div>

      <ion-content class="ion-padding">

        <ion-title class="ion-text-center ion-text-uppercase"> <strong>Nova Consulta</strong> </ion-title>
        <p class="ion-text-center">Seu exame está disponível para a seguinte data e horário:</p>


        <h1 class="time-display"><strong> {{ formattedStart }}  </strong> </h1>

        <ion-row class="row-time">
          <ion-col (click)="showStart = !showStart">
            <ion-label>{{ formattedStart }}</ion-label>
            <ion-text slot="end">{{ formattedStart }}</ion-text>
          </ion-col>

          <ion-col size="1">
          <div class="line"></div>
          </ion-col>

          <ion-col (click)="showEnd = !showEnd">
            <ion-label>{{ formattedEnd }}</ion-label>
            <ion-text slot="end">{{ formattedEnd }}</ion-text>
          </ion-col>

        </ion-row>

      <ion-row>
        <ion-col>
          <ion-label *ngIf="showStart">Das:</ion-label>
          <ion-datetime
          #start
          *ngIf="showStart"
          [value]="newEvent.startTime"
          presentation="time"
          (ionChange)="startChanged(start.value)"
          ></ion-datetime>
          </ion-col>

          <ion-col>
            <ion-label *ngIf="showEnd">Até:</ion-label>
            <ion-datetime
            #end
            *ngIf="showEnd"
            [value]="newEvent.endTime"
            presentation="time"
            (ionChange)="endChanged(end.value)"
            ></ion-datetime>
          </ion-col>
        </ion-row>

        <!-- <section>
        <ion-item (click)="showStart = !showStart">
          <ion-label>Início da Consulta</ion-label>
          <ion-text slot="end">{{ formattedStart }}</ion-text>
        </ion-item>
        
        <ion-datetime
        #start
        *ngIf="showStart"
        [value]="newEvent.startTime"
        [presentation]="newEvent.allday ? 'date':'time-date'"
        (ionChange)="startChanged(start.value)"
        ></ion-datetime>

        <ion-item (click)="showEnd = !showEnd">
          <ion-label>Final da Consulta</ion-label>
          <ion-text slot="end">{{ formattedEnd }}</ion-text>
        </ion-item>

        <ion-datetime
        #end
        *ngIf="showEnd"
        [value]="newEvent.endTime"
        [presentation]="newEvent.allday ? 'date':'time-date'"
        (ionChange)="endChanged(end.value)"
        ></ion-datetime>
        </section> -->

        <p class="ion-text-center">Ao clicar em marcar, esse exame será agendado e automaticamente adicionado no seu calendário. O cancelamento só é possível se feito pelo menos 1 dia antes da data agendada. </p>

        <section class="table-consult">
          <ion-row>
            <ion-col size="3">Locação</ion-col>
            <ion-col size="5" class="aditional-info">Reserva 1 hora <br>Nome do espaço</ion-col>
            <ion-col size="4"> <strong>R$100,00</strong></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="4">Total</ion-col>
            <ion-col size="5" class="total"><strong>R$100,00</strong></ion-col>
          </ion-row>
        </section>

      <!-- <ion-button (click)="removeEvents()">Desmarcar Consulta</ion-button> -->

      </ion-content>

      <ion-toolbar class="agendar">
        <ion-buttons class="agendar-btn">
          <ion-button (click)="addEvent()" strong>
            <ion-icon name="calendar-outline"></ion-icon> Marcar </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ng-template>
  </ion-modal>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{ view.dates[row*7+col].label }}
    <div class="indicator-container">
      <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
    </div>
  </ng-template>

</ion-content>