/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/*Alert Modal*/
.alert-title.sc-ion-alert-md {
    color:#1C4478 !important;
}
.alert-input.sc-ion-alert-md {
    color: #000!important;
    background: #ededed;
    padding-inline: 20px;
}
.alert-button-group {
    justify-content: center!important;
}
.alert-button-inner{
    color:#fff;
    justify-content: center!important;
}

.alert-button.sc-ion-alert-md {
    border-radius: 6px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-padding-start: 10px;
    padding-inline-start: 16px;
    -webkit-padding-end: 10px;
    padding-inline-end: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background-color: #1C4478 !important;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}
/*Alert Modal*/


.espec-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    margin-block: 10px;
    width: 100%;
    background: #ededed;
    .espec-inner{
        display: inline-flex;
        flex-direction: column;
        width: 20%;
        color: #202020;
    }
    .espec-inner:nth-child(2){
        width: 80%;
    }
    h4{
        color:#1C4478;
        font-weight: 900;
        font-size: 18px;
        margin-top: 10%;
    }
    ion-button{
        --background:#1C4478;
        width:30vw;
    }
    
.locations-info{
    color: #202020;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 10px;
    }
    .locations-info p {
        line-height: 10px;
        }
    ion-icon{
    color: #777777;
    }
    .date-info{
        color: #a2a2a2;
        margin-bottom: 2px;
    }
    .description{
        font-size: 16px;
    }
}

ion-content{
    --offset-top:10px!important;
}