/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'swiper/css';



/*Alert Modal*/
.alert-title.sc-ion-alert-md {
    color: #1C4478 !important;
}

.alert-input.sc-ion-alert-md {
    color: #000 !important;
    background: #ededed;
    padding-inline: 20px;
}

.alert-button-group {
    justify-content: center !important;
}

.alert-button-inner {
    color: #fff;
    justify-content: center !important;
}

.alert-button.sc-ion-alert-md {
    border-radius: 6px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-padding-start: 10px;
    padding-inline-start: 16px;
    -webkit-padding-end: 10px;
    padding-inline-end: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background-color: #1C4478 !important;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

/*Alert Modal*/


.espec-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    margin-block: 10px;
    width: 100%;
    background: #ededed;

    .espec-inner {
        display: inline-flex;
        flex-direction: column;
        width: 20%;
        color: #202020;
    }

    .espec-inner:nth-child(2) {
        width: 80%;
    }

    h4 {
        color: #1C4478;
        font-weight: 900;
        font-size: 18px;
        margin-top: 10%;
    }

    ion-button {
        --background: #1C4478;
        width: 30vw;
    }

    .locations-info {
        color: #202020;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 10px;
    }

    .locations-info p {
        line-height: 10px;
    }

    ion-icon {
        color: #777777;
    }

    .date-info {
        color: #a2a2a2;
        margin-bottom: 2px;
    }

    .description {
        font-size: 16px;
    }
}

ion-content {
    --offset-top: 10px !important;
}

ion-item {
    --background: #f4f4f4 !important;
    --color: #666 !important;
}

/* AJUSTES CALENDARIO */

ion-content .header-bg{
    height: 100%!important;
    --padding-top: 16rem!important;
    --offset-top: 2px !important;
}
ion-toolbar.toolbar-fixed{
    position: fixed;
}


calendar {
    color: #666666;

    td {
        background: #fff;
        height: 4.5rem;
    }

    thead {
        background: #fff;

        tr th {
            border: none !important;
        }
    }

    .monthview-selected {
        color: #666 !important;
        background: #7ED4E1 !important;
    }
}

.segment-calendar {
    ion-segment-button {
        --color: #bfbfbf !important;
        --color-checked: #1C4478;
    }
}

.calendar-base {
    ion-row {
        h2 {
            color: #666;
            text-transform: capitalize;
            line-height: 32px;
            margin-top: 12px;
        }
    }

    ion-list.list-md {
        background: #f4f4f4 !important;
    }

    ion-col {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    ion-button {
        display: flex;
    }

    ion-icon {
        padding-block: 10px;
        font-size: 32px !important;
        margin-bottom: 10px;
    }

    .today {
        display: block;
        margin: auto;
        --background: transparent;
        --box-shadow: none;
        color: #1C4478;
        border: 1px solid #1C4478;
        border-radius: 8px;
        width: 50vw;
    }

    ion-item {
        --background: #C4C6C7 !important;
        color: #fff;
        border-radius: 6px;
        margin-left: 60px;
        margin-top: 3px;
        --border-color:none!important;
        :nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
        }
    }
}

ion-fab-button {
    --background: #1C4478;
    height: 60px;
    width: 60px;

    ion-icon {
        font-size: 36px !important;
    }
}

ion-modal {
    --max-width: 95vw !important;
    --max-height: 76vh !important;
    --backdrop-opacity: var(--ion-backdrop-opacity, .6);
    --ion-background-color: transparent;


    //--border-radius: 16px!important;
    ion-content {
        --background: #f4f4f4 !important;
    }

    ion-datetime {
        margin-block: 12px !important;
        border-radius: 12px;
        --background: #fff;
    }
}

.calendar-modal {
    ion-content {
        --color: #666 !important;
    }

    p:not(#date p) {
        padding-top: 20px;
    }

    .agendar {
        --background: #1C4478 !important;

        .agendar-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 2rem;
            padding-block: 1rem;

            ion-button {
                height: auto;
                width: 100%;
            }
        }

        ion-icon[name="calendar-outline"] {
            width: 24px !important;
            height: 24px !important;
            margin-right: 12px;
            --color: #fff !important;
        }
    }
}

#date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

    h2 {
        font-weight: 900;
        font-size: 60px;
    }

    p {
        font-weight: 600;
        margin-top: -1em;
    }
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797A7A;
    color: #fff;
    padding-block: 26px 16px;
    border-radius: 10px;

    h4 {
        font-size: 22px;
        line-height: 22px;
    }
}

.table-consult {
    text-transform: uppercase;

    ion-row {
        border-top: 1px solid #D6D1D1;
        padding-block: 10px;
    }

    ion-col:nth-child(1) {
        font-size: 10px;
    }

    ion-col:nth-child(3) {
        font-size: 16px;
        text-align: right;
    }

    .aditional-info {
        font-size: 12px;
        font-weight: 600;
    }

    .total {
        color: #1C4478;
        font-size: 24px !important;
    }
}

.close-modal {
    ion-button {
        --background: transparent !important;
        --box-shadow: none !important;
        position: relative;
        right: -20px;
    }

    ion-icon {
        width: 36px;
        height: 36px;
    }
}

.ion-delegate-host.ion-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
    z-index: 0;
    align-items: flex-end;
    --background: var(--ion-background-color, transparent) !important;
}

.dayview-normal-event-container {
    position: relative !important;
    font-size: 14px;
}

.indicator-container {
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.event-indicator {
    margin-top: .6rem;
    background-color: #2cffef;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.time-display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 32px;
    font-size: 32px !important;
}

ion-row.row-time {
    margin: 6px;
    padding: 10px;
    padding-block: 16px;
    border-radius: 8px;
    background: #666 !important;
    
    ion-label{ 
    color: #fff;
    font-size: 16px;
    }

    ion-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .line{
        height: 2px;
        width: 60%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* FIM AJUSTES CALENDARIO */


/* AJUSTE ALERT DE ERRO */
.alert-wrapper.sc-ion-alert-md {
    --background: #fff;
    text-align: center;

    h2 {
        color: rgb(255, 0, 0) !important;
        text-align: center;
    }
}

.alert-button.sc-ion-alert-md {
    width: 60%;
}

/* FIM AJUSTE ALERT DE ERRO */