<ion-header [translucent]="true">
</ion-header>

<ion-toolbar>

  <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home-feed"></ion-back-button>

  <figure class="header-logo-position">
    <img src=".\assets\medmais-cor.png" width="160">
  </figure>
  <ion-label class="page-tittle">
    Agenda
  </ion-label>
</ion-toolbar>

<ion-content [fullscreen]="true" class="header-bg">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullFactor]=".25" [pullMin]="100" [pullMax]="100">
    <ion-refresher-content pullingIcon="" refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <section>

    <div class="espec-container">
      <div class="espec-inner">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="espec-inner">
        <p class="date-info">29/06/2020 as 20:30</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="locations-info">
        <p><strong>LOCAL:</strong> Rua fulano de tal 12-55</p>
        <p><strong>DATA:</strong> Dia 23 de junho as 20h</p>
      </div>
    </div>

    <div class="espec-container">
      <div class="espec-inner">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="espec-inner">
        <p class="date-info">29/06/2020 as 20:30</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="locations-info">
        <p><strong>LOCAL:</strong> Rua fulano de tal 12-55</p>
        <p><strong>DATA:</strong> Dia 23 de junho as 20h</p>
      </div>
    </div>
    
  </section>

</ion-content>