<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-back-button icon="chevron-back-outline"></ion-back-button>

    <figure class="header-logo-position">
      <img src=".\assets\medmais-branco.png" width="160">
    </figure>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="login-card">
  <ion-card-content>
    Confirme seu email para redefinir sua senha
  </ion-card-content>
<div class="row">
  <div class="col">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="resetPassword()">
    <mat-form-field>
      <input matInput placeholder="exemplo@email.com" formControlName="email" required [(ngModel)]="email">
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
        Email é<strong> obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <ion-button class="btn-login" type="submit" [disabled]="!loginForm.valid">
      <span>REDEFINIR</span>
    </ion-button>
    </form>

  </div>
</div>
</ion-card>
</ion-content>